h1 Add a new book

form(action="/books/create", method="POST")
    label Book Title:     
    input(type="text", name="title")
    br
    br
    label Book Description: 
    input(type="text", name="description")

    button Create