
extends ../layouts/common

block content
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="/") Home
    ul(class="navbar-nav")
      li(class="nav-item")
        a(class="nav-link" href="/books") Books
      li(class="nav-item")
        a(class="nav-link" href="/users") Users
      li(class="nav-item")
        a(class="nav-link" href="/transactions") Transactions
        
  h2(class="ml-3 mb-3") Add a new book
    form(action="/books/create", method="POST", class="ml-3")
        h4 Book Title:     
        input(type="text", class="form-control mb-2", name="title")
        h4 Book Description: 
        textarea(class="form-control", rows="5", name="description")
        br
        button(class="btn btn-outline-success my-2 my-sm-0") Create