
extends ../layouts/common

block content
        
  h2(class="ml-3 mb-3") Add a new book
    form(action="/books/create", method="POST", class="ml-3")
        h4 Book Title:     
        input(type="text", class="form-control mb-2", name="title")
        h4 Book Description: 
        textarea(class="form-control", rows="5", name="description")
        br
        button(class="btn btn-outline-success my-2 my-sm-0") Create