extends ../layouts/common

block content
  h2(class="ml-3") Book Detail
  
  div(class="card-body")
    h5(class="card-title")
      span= book.title
    p(class="card-text") 
      span= book.description
    a(href="/books", class="btn btn-primary") Go back
