extends ../layouts/common

block content
  h1(class="ml-3") Books List
  a(class="btn btn-info btn-sm ml-3 mb-2", href="/books/create") New book

  form(action="/books/search", method="GET", class="d-flex")
      input(type="text", name="q", placeholder="Book title ...", class="form-control mr-sm-2 ml-3")
      button(class="btn btn-outline-success my-2 my-sm-0 mr-2") Search
  .row.mx-2
      each book in books
          .col-sm-6.col-md-4.col-lg-3
              .card.mb-3
                  img.card-img-top(src=book.imageUrl)
                  .card-body
                      h5.card-title= book.title
                      p.card-text= book.description
                      a(class="btn btn-primary btn-sm", href='/books/'+ book.id) Chi tiết
                      span &nbsp;
                      a(class="btn btn-success btn-sm", href='/books/'+ book.id +'/update') Cập nhật
                      span &nbsp;
                      a(class="btn btn-danger btn-sm", href='/books/'+ book.id+'/delete') Xoá                
  ul.pagination.justify-content-end.mr-2
    li.page-item
      a.page-link(href='/books?page='+(page-1), aria-label='Previous')
        span(aria-hidden='true') &laquo;
    - for (var i = 1; i <= minPage; ++i) {
      li.page-item
      a.page-link(href='/books?page='+i)= i 
    - }
    li.page-item
      a.page-link(href='/books?page='+(page+1), aria-label='Next')
        span(aria-hidden='true') &raquo; 
            
