h1 Books List
a(href="/books/create") New
span &nbsp;
a(href="/users") User List 
form(action="/books/search", method="GET")
    input(type="text", name="q")
    button Search
ul
    each book in books
        li
          span= book.title
          span &nbsp;
          a(href='/books/'+ book.id) Chi tiết
          span &nbsp;
          a(href='/books/'+ book.id +'/update') Cập nhật
          span &nbsp;
          a(href='/books/'+ book.id+'/delete') Xoá
