extends ../layouts/common

block content
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="/") Home
    ul(class="navbar-nav")
      li(class="nav-item")
        a(class="nav-link" href="/books") Books
      li(class="nav-item")
        a(class="nav-link" href="/users") Users
      li(class="nav-item")
        a(class="nav-link" href="/transactions") Transactions
  h2(class="ml-3 mb-3") Add a new user
  if errors
        each error in errors
            .alert.alert-danger= error
  form(action="/users/create", method="POST", class="d-flex ml-3")
      h4 Name:     
      input(type="text", name="name", value=values ? values.name : "", class="form-control mr-sm-2 ml-3 mr-2")
      button(class="btn btn-outline-success ml-2 mr-2 my-sm-0") Create