extends ../layouts/common

block content   
  h2(class="ml-3") User Detail
  div(class="card-body")
    h5(class="card-title") 
      br
      span= user.name
    img(src=user.avatarUrl, width=400, height=400)
    hr
    p(class="card-text") #[strong Email:]
      br
      span= user.email
    p(class="card-text") #[strong Phone:]
      br
      span= user.phone
    a(href="/books", class="btn btn-primary") Go back
