extends ../layouts/common

block content   
  h2(class="ml-3") User Detail
  div(class="card-body")
    h5(class="card-title") Name: 
      span &nbsp;
      span= user.name
    h5(class="card-title") Email: 
      span &nbsp;
      span= user.email
    a(href="/books", class="btn btn-primary") Go back
