extends ../layouts/common

block content
  h2(class="ml-3") Enter new user name
  
  form(action="/users/"+ user.id + "/update", method="POST", class="d-flex")
      input(type="text", name="name", class="form-control mr-sm-2 ml-3 mr-2", value=user.name)
      button(class="btn btn-outline-success my-2 my-sm-0 mr-2") Update