extends ../layouts/common

block content
  h1(class="ml-3") Create new transaction

  form(action="/transactions/create", method="POST", class="ml-3")
    label(for="users") User Name:
    span &nbsp;
    select(id="users", name="userId", class="custom-select", style="width:200px;")
      each user in users
        option(value= user.id)
          span= user.name
    br
    br
    label(for="books") Books:
    span &nbsp;
    select(id="books", name="bookId", class="custom-select", style="width:200px;")
      each book in books
        option(value= book.id)
          span= book.title
    br  
    br

    button(class="btn btn-outline-success my-2 my-sm-0 mr-2") Create

    
    