extends ../layouts/common

block content
  h2(class="ml-3") Transaction Detail
  div(class="card-body")
    h5(class="card-title") User Name: 
      span= user.name
    p(class="card-text") Book: 
      span= book.title
    p(class="card-text") Complete: 
      if transaction.isComplete
        span= 'Yes'
      else
        span= 'No'
    a(href="/transactions", class="btn btn-primary") Go back
  