extends ../layouts/common

block content
  h1(class="ml-3") Transactions List
  a(class="btn btn-info btn-sm ml-3 mb-2", href="/transactions/create") New transaction
  if errors
        each error in errors
            .alert.px-3.alert-danger= error
  form(action="/transactions/search", method="GET", class="d-flex")
      input(type="text", name="q", placeholder="Transaction ID ...", class="form-control mr-sm-2 ml-3")
      button(class="btn btn-outline-success my-2 my-sm-0 mr-2") Search
  ul.list-group.mx-3
    each transaction in transactions
      li.list-group-item #[strong Transaction ID: ]
        span= transaction.id
      li.list-group-item #[strong Book ID: ]
        span= transaction.bookId
      li.list-group-item 
        a(class="btn btn-primary btn-sm", href='/transactions/'+ transaction.id) Chi tiết
        span &nbsp;
        a(class="btn btn-danger btn-sm", href='/transactions/'+ transaction.id+'/delete') Xoá    

  ul.pagination.justify-content-end.mr-2.mt-2
    li.page-item
      a.page-link(href='/transactions?page='+(page-1), aria-label='Previous')
        span(aria-hidden='true') &laquo;
    - for (var i = 1; i <= minPage; ++i) {
      li.page-item
      a.page-link(href='/transactions?page='+i)= i 
    - }
    li.page-item
      a.page-link(href='/transactions?page='+(page+1), aria-label='Next')
        span(aria-hidden='true') &raquo;   

    
  
          

          
