h1 Transactions List
a(href="/transactions/create") New transaction
form(action="/transactions/search", method="GET")
    input(type="text", name="q")
    button Search
table
  tr
    th User
    th Book
    th Action
  each transaction in transactions
    tr
      td= transaction.userId
      td= transaction.bookId
      td 
        a(href='/transactions/'+ transaction.id) Chi tiết
        span &nbsp;
        a(href='/transactions/'+ transaction.id+'/delete') Xoá
        span &nbsp;
        a(href='/transactions/'+ transaction.id+'/complete') Hoàn thành
          

          
