extends ../layouts/common

block content
  h1(class="ml-3") Transactions List
  a(class="btn btn-info btn-sm ml-3 mb-2", href="/transactions/create") New transaction
  if errors
        each error in errors
            .alert.px-3.alert-danger= error
  form(action="/transactions/search", method="GET", class="d-flex")
      input(type="text", name="q", placeholder="Transaction ID ...", class="form-control mr-sm-2 ml-3")
      button(class="btn btn-outline-success my-2 my-sm-0 mr-2") Search
  table(class="ml-3")
    tr(class="table-danger")
      th Id
      th Book
      th Action
    each transaction in transactions
      tr
        td= transaction.id
        td= transaction.bookId
        td 
          a(class="btn btn-primary btn-sm", href='/transactions/'+ transaction.id) Chi tiết
          span &nbsp;
          a(class="btn btn-danger btn-sm", href='/transactions/'+ transaction.id+'/delete') Xoá
          span &nbsp;
          a(class="btn btn-success btn-sm", href='/transactions/'+ transaction.id+'/complete') Hoàn thành
  
          

          
